{% load static %}
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Sobre a Empresa</h2>
      <p>Fundada em 2011, a DESA ENGENHARIA é uma empresa especializada na prestação de serviços de engenharia.</p>
    </div>
    
    <div class="row content">
      <div class="col-lg-6">
        <p>
          Combinamos uma equipe técnica altamente habilitada e com mais de 25 anos de experiência ao investimento em tecnologia e melhoria contínua de gestão para gerar inovação disruptiva na indústria e alcançar o nível 
            máximo de satisfação do cliente superando expectativas quanto a qualidade, preço e prazo.
        </p>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Sediada em Matozinhos, região metropolitana de Belo Horizonte, localizada a 30 minutos da capital e 20 minutos do Aeroporto Internacional Tancredo Neves/Confins,
             atendemos todo território nacional, levando nossa inovação e modernidade industrial para todos os nossos clientes.
        </p>
      </div>
    </div>
    <section id="icon-boxes" class="icon-boxes">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Nossa Missão</a></h4>
              <p class="description">Prestar os melhores serviços de engenharia, priorizando a
                segurança do trabalho, buscando a máxima excelência e atingindo assim, a plena satisfação de todos os envolvidos em nossos
                processos.</p>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Nossa Visão</a></h4>
              <p class="description">Ser referência nacional entre as melhores empresas nas áreas de nossa atuação e se posicionar em novos mercados. </p>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">Nossos Valores</a></h4>
              <p class="description">
                São em que acreditamos e jamais abriremos mão!
                <ul style="list-style-type:circle;">
                  <li>Integridade;</li>
                  <li>Comprometimento;</li>
                  <li>Respeito ao Ser Humano;</li>
                  <li>Segurança;</li>
                  <li>Sustentabilidade.</li>
                </ul>  
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>
</section>
