{% load static %}
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="section-title">
        <h2>Clientes Atendidos e Parceiros</h2>
      </div>

      <div class="clients-slider swiper small">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="{% static 'img/logodesa.png' %}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client1.png' %}" class="img-fluid" alt="cliente1"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client2.png' %}" class="img-fluid" alt="cliente2"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client3.png' %}" class="img-fluid" alt="cliente3"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client4.png' %}" class="img-fluid" alt="cliente4"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client5.png' %}" class="img-fluid" alt="cliente5"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client6.png' %}" class="img-fluid" alt="cliente6"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client7.png' %}" class="img-fluid" alt="cliente7"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client8.png' %}" class="img-fluid" alt="cliente8"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client9.png' %}" class="img-fluid" alt="cliente9"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client10.png' %}" class="img-fluid" alt="cliente10"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client11.png' %}" class="img-fluid" alt="cliente11"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client12.png' %}" class="img-fluid" alt="cliente12"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client13.png' %}" class="img-fluid" alt="cliente13"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client14.png' %}" class="img-fluid" alt="cliente14"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client15.png' %}" class="img-fluid" alt="cliente15"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client16.png' %}" class="img-fluid" alt="cliente16"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client17.png' %}" class="img-fluid" alt="cliente17"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client18.png' %}" class="img-fluid" alt="cliente18"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client19.png' %}" class="img-fluid" alt="cliente19"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client20.png' %}" class="img-fluid" alt="cliente20"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client21.png' %}" class="img-fluid" alt="cliente21"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client22.png' %}" class="img-fluid" alt="cliente22"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client23.png' %}" class="img-fluid" alt="cliente23"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client24.png' %}" class="img-fluid" alt="cliente24"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client25.png' %}" class="img-fluid" alt="cliente25"></div>
        </div>
        
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>