{% load static %}
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Sobre</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Serviços</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Obras</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Vagas</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contato Sede</h4>
            <p>
              R. João Pereira Lima, 90 <br>
              Distrito Industrial<br>
              Matozinhos/MG - Brasil <br><br>
              <strong>Fone:</strong> +55 31 3712-1060<br>
              <strong>Email:</strong> contato@desaengenharia.com.br<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contato Filial</h4>
            <p>
              Av. Eldes Scherrer Souza, 975 <br>
              Parque Laranjeiras<br>
              Serra/ES - Brasil <br><br>
              <strong>Fone:</strong> +55 27 2575-1060<br>
              <strong>Email:</strong> contato@desaengenharia.com.br<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>DESA</h3>
            <p>Fundada em 2011, A DESA ENGENHARIA é uma empresa especializada na prestação de serviços de Engenharia, atuando de forma multidisciplinar na prestação de serviços à Indústria. </p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/adesa.engenharia/" class="facebook" target="_blank" ><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/desa.engenharia/" class="instagram" target="_blank" ><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/desaengenharia/mycompany/" class="linkedin" target="_blank" ><i class="bi bi-linkedin"></i></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;<strong><span>DESA Engenharia</span></strong>. Todos Direitos Reservados
      </div>
      <div class="credits">
        Desenvolvido por <a href="https://www.linkedin.com/in/gil-cesar-martins/">Gil César</a>
      </div>
    </div>
</footer>