{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  {% include 'hero.html' %}
  <!-- End Hero -->

  <main id="main">
    
    <!-- ======= About Us Section ======= -->
    {% include 'about.html' %}
    <!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    {% include 'clients.html' %}
    <!-- End Clients Section -->

    <!-- ======= Why Us Section ======= -->
    {% include 'why.html' %}
    <!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    {% include 'services.html' %}
    <!-- End Services Section -->

     <!-- ======= Testimonials Section ======= -->
     {% include 'testimonials.html' %}
     <!-- End Testimonials Section -->

    <!-- ======= Portfoio Section ======= -->
    {% include 'portfolio.html' %}
    <!-- End Portfoio Section -->

   <!-- ======= Cta Section ======= -->
   {% include 'cta.html' %}
   <!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}
  <!-- End Footer -->

{% endblock %}
