{% load static %}
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Trabalhe Conosco</h2>
      <img src="{% static 'img/opportunities/qr_code_cadastro.png' %}" width="250" class="fa-qrcode" alt="qrcode"><br>
      <br><a href="https://forms.gle/w3z5kKCC1mvBCDT18">Ou você pode clicar aqui para se cadastrar</a>
      <p>Disponibilizamos as nossas vagas semanalmente no Linkedin. Clique nos
        títulos para ser direcionado ao nosso <b>SETOR DE RECRUTAMENTO</b>.
      </p>
    </div>

    <div class="row">
      <div
        class="col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Ajudante</a></h4>
          <p>
            Necessário 18 anos de idade, ensino fundamental completo.
            Disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Almoxarife</a></h4>
          <p>Necessário experiência comprovada em carteira. Disponibilidade para viagens.</p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Carpinteiro Refratário</a></h4>
          <p>
            Necessário experiência comprovada em carteira. Disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Eletricista</a></h4>
          <p>
            Curso técnico em eletrônica / eletrotécnica, NR-10, capacitação, disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Encarregado Refratário e Mecânico</a></h4>
          <p>
            Necessário experiência em carteira. Disponibilidade para viagens.
          </p>
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Mecânico</a></h4>
          <p>
            Necessário experiência comprovada em carteira. Disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Montador de Andaimes</a></h4>
          <p>
            Necessário experiência em carteira, capacitação, disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Pedreiro Refratário</a></h4>
          <p>
            Necessário experiência em carteira. Disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Soldador</a></h4>
          <p>
            Conhecimento de solda MIG e TIG. Disponibilidade para viagens.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon-box">
          <i class="bi bi-linkedin"></i>
          <h4><a href="https://wa.me/553194867522" target="_blank">Vigia de Espaço Confinado</a></h4>
          <p>
            Necessário experiência em carteira, capacitação, disponibilidade para viagens.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


