{% load static %}
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials4.png' %}" class="testimonial-img" alt="Maheus">
            <h3>Matheus Cupertino</h3>
            <h4>Auxiliar de Projetos</h4>
            <p>
              Em fevereiro de 2022 migrei para o setor de projetos onde me encontro até a data atual, minhas atribuições consistem na criação de projetos mecânicos, projetos de andaimes tubulares, entre outros, estou tendo inúmeras oportunidades e hoje consigo diferenciar toda a execução das obras nos segmentos da nossa empresa.
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials2.png' %}" class="testimonial-img" alt="">
            <h3>Helton Gonçalves</h3>
            <h4>Gestão de Projetos e Processos</h4>
            <p>
              Quero dedicar meu agradecimento à DESA Engenharia pela oportunidade de aplicar o conhecimento que adquiri durante toda minha vida profissional e de trabalhar com profissionais altamente qualificados com muita visão e dinamismo.
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials3.png' %}" class="testimonial-img" alt="Julio">
            <h3>Júlio César</h3>
            <h4>Equipe de Campo</h4>
            <p>
              Iniciei minha trajetória na DESA Engenharia após atravessar uma fase difícil na minha vida! Através de Grandes amizades construídas na minha vida, Warley juntamente com sua esposa e José Gomes conheci a DESA Engenharia que depositaram em mim confiança e hoje me encontro no quadro de colaboradores da empresa há 3 anos. Tenho orgulho em fazer parte deste time! Visto a camisa da empresa com muita felicidade e prazer! Vamos juntos vencer cada vez maiores desafios. Um abraço a toda Família DESA!
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials5.png' %}" class="testimonial-img" alt="Claudinei">
            <h3>Claudinei Henrique</h3>
            <h4>Auxiliar Comercial</h4>
            <p>
              Em 2022 ingressei na DESA no setor comercial, desde então tenho amadurecido cada vez mais como profissional, cada dia adquirindo ainda mais conhecimento que é repassado por outros profissionais que estão sempre dispostos a ensinar e passar conhecimento adiante.
            </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->
