{% load static %}
<section id="why-us" class="why-us">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-5 align-items-stretch position-relative video-box" style='background-image: url("static/img/why-us.jpeg");' data-aos="fade-right"> 
         
        </div>
        
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">

          <div class="content">
            <h2>Os desafios nos movem além!</h2>
            <p>
              Nosso diferencial é prezar pelo excelente atendimento e processos organizados em nossa cadeia de serviços, contamos com profissionais que possuem vasta expertise em diversas áreas da engenharia com muitos anos de experiência em campo e buscamos sempre a máxima eficiência em obras para a sua economia.
          </div>

          <div class="accordion-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Transparência Completa Comercial E Operacional<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Acompanhe a evolução dos projetos em tempo real com os softwares mais utilizados no mercado, para garantir um controle eficiente das frentes de trabalho, empoderando nossos gestores e clientes com informações sempre atualizadas.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Segurança Total - Equipe Qualificada<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Garantir a segurança dos nossos colaboradores é um valor inegociável que permeia todo e qualquer trabalho que executamos. Razão pelo qual, além de seguirmos a risca todas as normas aplicáveis, fazemos constantes investimentos em treinamento para fortalecer uma cultura que protege nossos principais recursos estratégicos: os talentos com quem contamos.
                  </p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>
</section>